<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <link rel="stylesheet" href="/dep/plugins/ant-design/antd.min.css" />
        <link href="/dep/css/animate.min.css" rel="stylesheet" />
        <link rel="stylesheet/less" href="./index.less" />
        <script src="/dep/js/less.min.js"></script>
    </head>

    <body>
        <div id="app" class="tunnel-page">
            <section class="tunnel-top">
                <div class="top-head">
                    <div class="title">隧道分区</div>
                    <div class="subtitle">选择分区后在下方预览场景</div>
                </div>
                <div class="top-body">
                    <a-row :gutter="[16, 16]" class="tunnel-grid">
                        <a-col
                            v-for="item in tunnels"
                            :key="item.id"
                            :xs="24"
                            :sm="8"
                            :md="6"
                            :lg="4"
                        >
                            <a-card
                                :class="[
                                    'tunnel-card',
                                    item.id === selectedId ? 'is-active' : '',
                                    isAlarmTunnel(item.id) ? 'is-alarm' : '',
                                ]"
                                @click="selectTunnel(item)"
                            >
                                <div class="card-title">
                                    {{ item.name || item.fullName || item.id }}
                                </div>
                                <div class="card-meta">
                                    {{ item.parentName || "未分组" }}
                                </div>
                                <div class="card-id">ID: {{ item.id }}</div>
                                <div
                                    v-if="isAlarmTunnel(item.id)"
                                    class="card-alert"
                                >
                                    告警
                                </div>
                            </a-card>
                        </a-col>
                    </a-row>
                    <div v-if="!tunnels.length && !loading" class="empty-tip">
                        暂无分区数据
                    </div>
                    <div v-if="loading" class="loading-tip">加载中…</div>
                </div>
            </section>
            <section class="tunnel-bottom">
                <div class="scene-head">
                    <div class="scene-title">
                        当前分区：{{ currentTunnelName || "未选择" }}
                    </div>
                    <div class="scene-desc">
                        场景文件：/tunnel/scene/{{ selectedId || "-" }}.json
                    </div>
                </div>
                <div class="scene-shell">
                    <div id="scene" class="scene-stage"></div>
                    <div v-if="sceneMessage" class="scene-empty">
                        {{ sceneMessage }}
                    </div>
                </div>
            </section>
        </div>

        <script src="/dep/js/echarts.min.js"></script>
        <script src="/dep/js/vue.min.js"></script>
        <script src="/dep/js/vue-component-loader.js"></script>
        <script src="/dep/plugins/ant-design/moment.js"></script>
        <script src="/dep/plugins/ant-design/moment-with-locales.js"></script>
        <script src="/dep/plugins/ant-design/antd-with-locales.min.js"></script>
        <script src="/dep/plugins/ant-design/moment-locale-zh_cn.js"></script>
        <script src="./index.js" type="module"></script>
    </body>
</html>
