<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>三维隧道</title>
	<!-- ant 组件 -->
	<link href="./dep/ant-design/antd.min.css" rel="stylesheet" />
	<link rel="stylesheet/less" href="./tunnel3d/tunnel3d.less" />
	<script src="./../assets/js/less.min.js"></script>
	<script type="importmap">
			{
				"imports": {
					"three": "./dep/three/three.module.js",
					"three/addons/": "./dep/three/examples/jsm/"
				}
			}
		</script>


</head>

<body>
	<div class="header">
		<span style="margin-top: -16px;">沪蓉西高速隧道物联综合监控平台</span>
	</div>
	<div class="car-monitor">
		<div class="title">
			车辆监控
			<div style="top: 18px;position: absolute;">
				<img src="./tunnel3d/img/tab-active.png" alt="">
			</div>
		</div>
		<div>
			<div>平均行驶时间</div>
			<div class="value">8 分钟</div>
		</div>
		<div>
			<div>平均行驶速度</div>
			<div class="value">100 km/h</div>
		</div>
	</div>

	<div id="app">
		<div class="device-panel" id="device-panel">
			<div class="tunnel-name">
				<a-select :options="tunnelOptions" v-model="selectTunnel">
				</a-select>
			</div>
			<div class="device-num">
				<div>
					<div class="name">设备在线率</div>
					<div class="value">90%</div>
				</div>
				<div>
					<div class="value">10000</div>
					<div class="name">设备总数</div>
				</div>
			</div>

			<div class="device-menu" v-for="topMenu in deviceMenu">
				<div class="menu-name">{{topMenu.name}}</div>
				<template v-for="device in topMenu.subItems">
					<a :class="inMenu(device)? 'selected':''" v-if="device.available"
						@click="chooseMenu(device)">{{device.name}}</a>
					<span v-else>{{device.name}}</span>
				</template>
			</div>
		</div>

		<div class="device-list" id="device-list" v-show="selectedMenus.length != 0">
			<div class="title-item">

				<a-select :options="selectedMenu4Device" v-model="selectedMenu4DeviceIndex"
					@change="changeSelectedMenu">
				</a-select>

				<div class="ratio">
					<div>在线率</div>
					<div class="value">999</div>
				</div>

			</div>
			<ul ref="deviceList">
				<li v-for="(device,index) in deviceList" :key="index" @click="chooseDevice(device, $event)"
					:class="[selectedDevice==device?'active':'']">
					<div class="sliders">
						<div class="point" v-for="item in 5"></div>
						<div class="circle-point"></div>
					</div>
					<div class="device-name">{{device.name}}</div>
				</li>
			</ul>
		</div>

		<div class="alarm-list" id="alarm-list">
			<div class="alarm-name">
				设备监控
				<div style="margin-top: -10px;">
					<img src="./tunnel3d/img/tab-active.png" alt="">
				</div>
			</div>
			<div class="alarm-num">
				3/99
			</div>
			<ul>
				<li v-for="alarm in alarmList" :class="selectedAlarm == alarm? 'selected':''"
					@click="chooseAlarm(alarm)">
					<div class="time">
						<img src="" alt="">
						{{alarm.time}}
					</div>
					<div>
						<span class="type">{{alarm.typeName}}</span>
						<span>{{ alarm.content}}</span>
						<span class="location">{{alarm.deviceName}}</span>
					</div>

				</li>
			</ul>
		</div>

		<div class="device-control" v-show="selectedDevice?.control && !onTrip">
			<div class="title">{{selectedDevice?.name}}</div>
			<div class="control">
				<button @click="deviceControl(true)" class=" true">开</button>
				<button class=" false" @click="deviceControl(false)">关</button>
			</div>
		</div>


		<div class="scene-control">
			<button class="start" v-show="!onTrip" @click="startTrip()">漫游</button>
			<button class="pause" v-show="onTrip&!pausing" @click="pauseTrip()">暂停</button>
			<button class="continue" v-show="onTrip&pausing" @click="continueTrip()">继续</button>
			<button class="end" v-show="onTrip" @click="endTrip()">终止</button>

		</div>

		<div class="video" v-if="videoUrl">
			<iframe  :src="videoUrl"  ></iframe>
			<button class="close" @click="videoUrl = null">x</button>

		</div>

	</div>
	<div class="slider-container">
		<input class="slider" type="range" name="slider" min="0" max="100" value="50" title="拖拽场景定位">
	</div>

	<script src="./dep/jquery-3.2.1.min.js"></script>
	<script src="./dep/vue.min.js"></script>
	<script src="./dep/signalr.min.js"></script>
	<script src="./js/signalRHelp.js"></script>
	<!-- ant & moment -->
	<script src="./dep/ant-design/moment.js"></script>
	<script src="./dep/ant-design/moment-with-locales.js"></script>
	<script src="./dep/ant-design/moment-timezone.js"></script>
	<script src="./dep/ant-design/antd.min.js"></script>
	<script src="./dep/ant-design/antd-with-locales.min.js"></script>
	<script type="module" src="./tunnel3d/index.js"></script>
</body>

</html>