<template>
    <div class="color-selector">
        <div>
            <a-input v-model="value" @blur="valueChange"></a-input>
        </div>
        <div class="options">
            <div v-for="color of colors" :style="{'background-color': color}" @click="checkColor(color)"></div>
        </div>
    </div>
</template>

<script>
    //@ sourceURL=color-selector.js
    import { Colors } from "/matrix/js/const.js";

    export default {
        props: ["value"],
        inject: [],
        data() {
            return {
                colors: [],
            };
        },
        components: {},
        created() {},
        mounted() {
            this.colors = Object.values(Colors);
        },
        methods: {
            checkColor(color) {
                this.value = color;
                this.valueChange(this.value);
            },
            valueChange() {
                if (!CSS.supports("color", this.value)) {
                    this.$message.warn("不支持的颜色格式, 请尝试使用#FFFFFF, rgba(0,0,0,0)格式");
                    return;
                }
                this.$emit("input", this.value);
            },
        },
    };
</script>

<style lang="less">
    .color-selector {
        .options {
            margin-top: 10px;
            display: flex;
            grid-gap: 10px;

            & > div {
                width: 20px;
                height: 20px;
                border-radius: 4px;
                cursor: pointer;
            }
        }
    }
</style>
