<template>
    <div class="ele-list">
        <div
            v-if="list.length != 0"
            v-for="ele of list"
            :key="ele.id"
            @click="selectEle(ele)"
            :class="{'checked': ele.id == curEle?.id}"
        >
            <img :src="'./imgs/'+ ele.type + '.svg'" />
            <div>{{ele.name}}</div>

            <div>
                <a-icon :type="!ele.visible?'eye':'eye-invisible'" @click="changeEleVisible(ele)" />
            </div>
        </div>
        <a-empty v-else description="暂无图元"></a-empty>
    </div>
</template>

<script>
    //@ sourceURL=ele-list.js
    export default {
        props: ["eles", "curEle"],
        inject: [],
        data() {
            return {
                list: [],
            };
        },
        watch: {
            eles: {
                handler(newVal, oldVal) {
                    let res = this.eles.map((ele) => {
                        return {
                            id: ele.id,
                            name: ele.name,
                            type: ele.type,
                            visible: ele.visible,
                            lock: false,
                        };
                    });
                    this.list = res;
                },
                immediate: true,
                deep: true,
            },
        },
        components: {},
        created() {},
        mounted() {
            console.log(this.eles);
        },
        methods: {
            selectEle(ele) {
                this.$emit("select", ele);
            },
            changeEleVisible(ele) {
                let visible = !ele.visible;
                this.$emit("visible-change", ele, visible);
            },
        },
    };
</script>

<style lang="less">
    .ele-list {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px 0px;
        overflow-y: auto;

        & > div {
            display: flex;
            align-items: center;
            grid-gap: 10px;
            cursor: pointer;
            padding: 4px 16px;
            line-height: 32px;

            & > img {
                width: 30px;
                height: 30px;
            }

            & > div:nth-child(2) {
                flex: 1;
                font-size: 16px;
            }

            & > div:nth-child(n + 3) {
                font-size: 20px;
            }

            & > div:nth-child(n + 3):hover {
                transform: scale(1.2);
                transition: all 0.2s;
            }
        }

        & > .checked {
            background-color: #b2d0fa;
        }
    }
</style>
