<template>
    <div class="ele-attr">
        <a-form
            style="padding: 10px 20px"
            :label-col="{ span: 4 }"
            :wrapper-col="{ span: 20 }"
        >
            <a-form-item label="id">
                <a-input v-model="curEle.id" disabled></a-input>
            </a-form-item>
            <a-form-item label="名称">
                <a-input v-model="curEle.name"></a-input>
            </a-form-item>
            <a-form-item label="类型">
                <a-input v-model="curEle.type" disabled></a-input>
            </a-form-item>
            <a-form-item label="颜色">
                <color-selector v-model="curEle.color"></color-selector>
            </a-form-item>
            <a-form-item label="可见">
                <a-switch
                    v-model="curEle.visible"
                    checked-children="可见"
                    un-checked-children="隐藏"
                />
            </a-form-item>
            <a-form-item label="层级">
                <a-input-number
                    style="width: 100%"
                    v-model="curEle.zIndex"
                ></a-input-number>
            </a-form-item>
            <a-form-item label="图形">
                <graph-editor
                    :scene-type="sceneType"
                    :ele-type="curEle.type"
                    :graph="curEle?.graph"
                ></graph-editor>
            </a-form-item>
        </a-form>
    </div>
</template>

<script>
    //@ sourceURL=ele-attr.js
    import { loadVueComponent } from "/matrix/common/core/vue-component-loader.js";

    export default {
        props: ["curEle", "sceneType"],
        inject: [],
        data() {
            return {};
        },
        components: {
            "graph-editor": () =>loadVueComponent("/matrix/editor/components/graph-editor.html"),
            "color-selector": () =>loadVueComponent("/matrix/editor/components/color-selector.html"),
        },
        created() {},
        watch: {
            ele: {
                handler(newVal, oldVal) {},
                immediate: true,
                deep: true,
            },
        },
        mounted() {},
        methods: {},
    };
</script>

<style lang="less">
    .ele-attr {
    }
</style>
