<template>
    <div class="scene-anchor">
        <a-space>
            <a-button type="primary" icon="plus" @click="addAnchor">新增锚点</a-button>
            <a-button type="primary" icon="save" @click="save">保存</a-button>
        </a-space>
        <div class="anchor-item" v-for="anchor of anchors">
            <div class="anchor-title">
                <div>
                    <a-input v-model="anchor.name"></a-input>
                </div>

                <a-icon style="right: 0" class="operate" type="pushpin" @click="toAnchor(anchor)"></a-icon>
                <a-icon style="right: 24px" class="operate" type="delete" @click="deleteAnchor(anchor.name)"></a-icon>
            </div>
            <div class="anchor-content">
                <div v-for="item of anchorConf" v-if="anchorConf.length > 0">
                    <div class="label">{{item.label}}:</div>
                    <div class="form">
                        <!-- vector3 -->
                        <div v-if="item.type == 'vector3'" class="sub-attr">
                            <div>
                                <div>x:</div>
                                <a-input-number v-model="anchor[item.field].x"></a-input-number>
                            </div>
                            <div>
                                <div>y:</div>
                                <a-input-number v-model="anchor[item.field].y"></a-input-number>
                            </div>
                            <div>
                                <div>z:</div>
                                <a-input-number v-model="anchor[item.field].z"></a-input-number>
                            </div>
                        </div>
                        <!-- vector2 -->
                        <div v-if="item.type == 'vector2'" class="sub-attr">
                            <div>
                                <div>x:</div>
                                <a-input-number v-model="anchor[item.field].x"></a-input-number>
                            </div>
                            <div>
                                <div>y:</div>
                                <a-input-number v-model="anchor[item.field].y"></a-input-number>
                            </div>
                        </div>
                        <!-- latlng -->
                        <div v-if="item.type == 'latlng'" class="sub-attr">
                            <div>
                                <div>lat:</div>
                                <a-input-number v-model="anchor[item.field].lat"></a-input-number>
                            </div>
                            <div>
                                <div>lng:</div>
                                <a-input-number v-model="anchor[item.field].lng"></a-input-number>
                            </div>
                        </div>
                        <!-- string -->
                        <div v-else-if="item.type == 'string'">
                            <a-input v-model="anchor[item.field]"></a-input>
                        </div>
                        <!-- number -->
                        <div v-else-if="item.type == 'number'">
                            <a-input-number v-model="anchor[item.field]"></a-input-number>
                        </div>
                        <!-- boolean -->
                        <div v-else-if="item.type == 'boolean'">
                            <a-switch
                                checked-children="是"
                                un-checked-children="否"
                                v-model="anchor[item.field]"
                            ></a-switch>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    //@ sourceURL=scene-anchor.js
    import { SceneType } from "/matrix/js/const.js";
    import { generateUUID } from "/common/js/utils.js";

    export default {
        props: ["anchors", "type"],
        inject: [],
        data() {
            return {
                anchorConf: [],
            };
        },
        components: {},
        created() {},
        watch: {},
        mounted() {
            if (!!!this.type || !SceneType.hasOwnProperty(this.type)) {
                this.$message.error(`尚未配置[${this.type}]类型的场景`);
                return;
            }
            this.anchorConf = SceneType[this.type].anchor;
        },
        methods: {
            save(){

            },
            addAnchor() {
                let item = {
                    id: generateUUID(8),
                    name: "新建锚点",
                };
                SceneType[this.type].anchor.forEach((attr) => {
                    item[attr.field] = attr.default;
                });
                this.anchors.push(item);
            },
            deleteAnchor(name) {
                this.$emit("delete", name);
            },
            toAnchor(anchor) {
                this.$emit("to-anchor", anchor);
            },
        },
    };
</script>

<style lang="less">
    .scene-anchor {
        display: flex;
        flex-direction: column;
        padding: 16px;
        grid-gap: 10px;

        .anchor-item {
            display: flex;
            flex-direction: column;
            padding: 5px 10px;
            border-radius: 10px;
            box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);

            .anchor-title {
                display: flex;
                align-items: center;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                padding: 4px 0;
                position: relative;
                font-size: 16px;

                .operate {
                    font-size: 20px;
                    color: #4284f5;
                    cursor: pointer;
                    position: absolute;
                }
            }

            .anchor-content {
                padding: 6px 4px;
                & > div {
                    display: flex;

                    .label {
                        position: relative;
                        width: 80px;
                        display: flex;
                        align-items: center;
                    }

                    .form {
                        flex: 1;

                        .sub-attr::before {
                            content: "{";
                            position: absolute;
                            left: -11px;
                            top: 50%;
                            transform: translateY(-50%);
                            font-size: 2.5em;
                            font-family: Constantia, serif;
                            line-height: 1;
                        }

                        .sub-attr {
                            position: relative;
                            margin-top: 4px;
                            display: flex;
                            flex-direction: column;
                            grid-gap: 4px;

                            & > div {
                                display: flex;

                                & > div:first-child {
                                    padding-left: 10px;
                                    width: 40px;
                                    line-height: 34px;
                                }

                                & > div:nth-child(2) {
                                    flex: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
</style>
