<template>
    <div class="scene-conf">
        <div v-for="item of confs" v-if="confs.length > 0">
            <div class="label">{{item.label}}:</div>
            <div class="form">
                <!-- vector3 -->
                <div v-if="item.type == 'vector3'" class="sub-attr">
                    <div>
                        <div>x:</div>
                        <a-input-number
                            v-model="conf[item.field].x"
                        ></a-input-number>
                    </div>
                    <div>
                        <div>y:</div>
                        <a-input-number
                            v-model="conf[item.field].y"
                        ></a-input-number>
                    </div>
                    <div>
                        <div>z:</div>
                        <a-input-number
                            v-model="conf[item.field].z"
                        ></a-input-number>
                    </div>
                </div>
                <!-- vector2 -->
                <div v-if="item.type == 'vector2'" class="sub-attr">
                    <div>
                        <div>x:</div>
                        <a-input-number
                            v-model="conf[item.field].x"
                        ></a-input-number>
                    </div>
                    <div>
                        <div>y:</div>
                        <a-input-number
                            v-model="conf[item.field].y"
                        ></a-input-number>
                    </div>
                </div>
                <!-- latlng -->
                <div v-if="item.type == 'latlng'" class="sub-attr">
                    <div>
                        <div>lat:</div>
                        <a-input-number
                            v-model="conf[item.field].lat"
                        ></a-input-number>
                    </div>
                    <div>
                        <div>lng:</div>
                        <a-input-number
                            v-model="conf[item.field].lng"
                        ></a-input-number>
                    </div>
                </div>
                <!-- string -->
                <div v-else-if="item.type == 'string'">
                    <a-input v-model="conf[item.field]"></a-input>
                </div>
                <!-- number -->
                <div v-else-if="item.type == 'number'">
                    <a-input-number v-model="conf[item.field]"></a-input-number>
                </div>
                <!-- boolean -->
                <div v-else-if="item.type == 'boolean'">
                    <a-switch v-model="conf[item.field]"></a-switch>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    //@ sourceURL=scene-conf.js
    import { SceneType } from "/matrix/js/const.js";
    export default {
        props: ["conf", "type"],
        inject: [],
        data() {
            return {
                confs: [],
            };
        },
        components: {},
        created() {},
        watch: {},
        mounted() {
            if (!!!this.type || !SceneType.hasOwnProperty(this.type)) {
                this.$message.error(`尚未配置[${this.type}]类型的场景`);
                return;
            }
            this.confs = SceneType[this.type].conf;
        },
        methods: {},
    };
</script>

<style lang="less">
    .scene-conf {
        display: flex;
        flex-direction: column;
        padding: 10px 16px;
        border-radius: 4px;
        grid-gap: 10px;

        .ant-input-number,
        .ant-input {
            width: 100% !important;
        }

        & > div {
            display: flex;

            .label {
                position: relative;
                width: 80px;
                display: flex;
                align-items: center;
            }

            .form {
                flex: 1;

                .sub-attr::before{
                    content: "{";
                    position: absolute;
                    left: -11px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 2.5em; 
                    font-family: Constantia, serif;
                    line-height: 1;
                }

                .sub-attr {
                    position: relative;
                    margin-top: 4px;
                    display: flex;
                    flex-direction: column;
                    grid-gap: 4px;

                    & > div {
                        display: flex;

                        & > div:first-child {
                            padding-left: 10px;
                            width: 40px;
                            line-height: 34px;
                        }

                        & > div:nth-child(2) {
                            flex: 1;
                        }
                    }
                }
            }
        }
    }
</style>
